# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Torch / YOLO cache and outputs
.cache/
runs/

# Model weights
*.pt
*.pth

# OS files
Thumbs.db
.DS_Store

# Environment variables
.env
yolov5s.pt
*.pt
*.pth
